.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9fbff; /* Light background */
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    height: 150px; /* Adjust as needed */
    width: 400px;
    border: 1px solid #eaeaea; /* Border for clean look */
    transition: transform 0.2s, box-shadow 0.2s; /* Hover effects */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
    background-color: #1967d2;
    color: white;
  }
  
.description{
    text-align: center;
    line-height: 1rem;
}
.icon{
    margin-left: 175px;
    margin-top: 40px;
    font-size: 50px;
}